<meta charset="utf-8">

<title><%= app_title %></title>

<!-- Sets initial viewport load and disables zooming  -->
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<link href="<%= TemplateTags.getThemeAssetUrl('css/normalize.css') %>" rel="stylesheet">
<link href="<%= TemplateTags.getThemeAssetUrl('css/foundation.css') %>" rel="stylesheet">
<link href="<%= TemplateTags.getThemeAssetUrl('fonts/foundation-icons.css') %>" rel="stylesheet">

<link href="<%= TemplateTags.getThemeAssetUrl('css/app.css') %>" rel="stylesheet">
