<% if(  post.thumbnail && post.thumbnail.src && post.thumbnail.src.length ){ %>
    <img src="<%= post.thumbnail.src %>" />
<% } %>
<div class="row">
    <div class="small-12 large-12 columns">
        <h1><%= post.title %></h1>
        <div class="single-meta">
            <span class="badge"><%= TemplateTags.formatDate(post.date,'d/m/Y') %></span>
            <% if( post.nb_comments > 0 ){ %>
                    - <a href="<%= TemplateTags.getCommentsLink(post.id) %>"><% print(post.nb_comments) %>&nbsp;comment<% post.nb_comments > 1 ? print('s') : '' %></a>
            <% } %>
        </div>
        <div class="post-content">
            <%= post.content %>
        </div>
    </div>
</div>